{% extends "base.html" %}

{% block title %}Galleries{% endblock %}

{% block content %}
    <section class="section">
        <div class="container">
            <h1 class="title">Galleries</h1>

            <p>
                Torquent eos sunt, fringilla egestas? Iure tempore cubilia, sed curae voluptate iaculis, do asperiores
                aperiam, voluptate necessitatibus viverra consequuntur magna gravida erat commodi blandit? Molestias,
                libero dapibus quod quibusdam recusandae vestibulum. Eum consequatur habitasse risus sint, primis
                officiis quo laborum commodi eget amet est nobis doloribus aliquam. Quasi? Accusantium duis phasellus
                perferendis laudantium cupidatat reprehenderit vero molestias dignissimos, eos imperdiet. Varius quos
                posuere, reprehenderit dignissimos mi, sem, distinctio? Molestiae quae.
            </p>
        </div>
    </section>

    <div class="container">
        <div class="columns is-multiline">
            {% for gallery in galleries %}
                <div class="column is-2-tablet is-4-desktop">
                    <a href="{{ gallery.get_absolute_url }}">
                        <img src="{{ gallery.main_image.image_preview.url }}" alt="{{ gallery.name }}" />
                    </a>
                    <h2 class="title is-5">{{ gallery.name }}</h2>
                    <h3 class="subtitle is-6">By {{ gallery.user }}</h3>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}