{% extends "base.html" %}

{% block content %}
    <section class="bg-light rounded-3 py-5 px-4 text-center">
        <h1>Welcome to the BeetBlog!</h1>
        <p>Ultrices eius magni massa non, nisi pariatur nobis eiusmod, sapien, pulvinar posuere nunc praesentium etiam?</p>
    </section>

    <section class="mt-5">
        <div class="d-flex justify-content-between">
            <h2>Recent posts</h2>

            <a href="{{ url_for('posts.index') }}">Read all</a>
        </div>

        <div class="row row-cols-1 row-cols-md-3 g-4">
            {% for post in latest_posts %}
                {% include "posts/_short_post.html" %}
            {% endfor %}
        </div>
    </section>

    <section class="mt-5">
        <div class="row">
            <div class="col-12 col-md-8">
                <h3>Latest comments</h3>

                {% for comment in latest_comments %}
                    <div>
                        <h5>
                            <a href="{{ comment.post.get_detail_url() }}">{{ comment.post.title }}</a>
                        </h5>

                        <div>
                            <p class="mb-1 text-muted">{{ comment.created_at.strftime("%A, %b %d, %Y %H:%M") }}, by <em>{{ comment.user.name }}</em></p>
                            <p>{{ comment.message | truncate(120, True) }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <div class="col-12 col-md-4">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='images/banner-01.jpg') }}" alt="Banner" />
            </div>
        </div>
    </section>

    <section class="mt-5 bg-light rounded-3 py-5 px-4">
        <h4>Subscribe to our newsletter!</h4>
        <form action="{{ url_for('subscriptions.subscribe') }}" class="d-flex gap-2" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />

            <label for="subscribeEmail" class="col-form-label">
                Torquent posuere mus eum. Reprehenderit convallis quam commodo? Magni quod autem, facilisi rhoncus
                ratione porta, quasi. Voluptatibus, cras ipsum mus nonummy?
            </label>
            <div class="w-50">
                <input type="email" name="email" class="form-control" id="subscribeEmail" required />
            </div>
            <div>
                <button type="submit" class="btn btn-info">Subscribe</button>
            </div>
        </form>
    </section>

    <section class="mt-5">
        <div class="row">
            <div class="col-12 col-md-4">
                <img class="img-fluid rounded" src="{{ url_for('static', filename='images/banner-02.jpg') }}" alt="Banner" />
            </div>

            <div class="col-12 col-md-8">
                <h3>Most popular posts</h3>
            </div>
        </div>
    </section>
{% endblock %}
