<div class="col">
    <div class="card h-100">
        {% if post.image_url %}
            <img class="card-img-top" style="max-height: 16rem; object-fit: cover;"
                 src="{{ post.image_url }}" alt="{{ post.title }}" />
        {% endif %}

        <div class="card-body">
            <h5 class="card-title">
                <a href="{{ url_for('posts.show', slug=post.slug) }}">{{ post.title }}</a>
            </h5>
            <p class="card-text">{{ post.short_content }}</p>
            <a href="{{ url_for('posts.show', slug=post.slug) }}">Read more</a>
        </div>

        <div class="card-footer">
            {% if post.published_at %}
                <small class="text-muted">Posted {{ post.published_at }}</small>
            {% else %}
                <small class="text-warning">Draft</small>
            {% endif %}
        </div>
    </div>
</div>